DEBUG=False
SECRET_KEY=change-this-to-a-unique-random-horilla2-secret
ALLOWED_HOSTS=www.example.com,example.com,10.0.0.13,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://10.0.0.13:8002,http://localhost:8002,http://127.0.0.1:8002
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SESSION_COOKIE_NAME=horilla2_sessionid
CSRF_COOKIE_NAME=horilla2_csrftoken
TIME_ZONE=Europe/Rome

DB_INIT_PASSWORD=change-this-horilla2-init-password
DB_DUMP_PATH=./horilla2_main.dump
DB_ENGINE=django.db.backends.postgresql
DB_NAME=horilla2_main
DB_USER=horilla2
DB_PASSWORD=change-this-horilla2-password
DB_HOST=localhost
DB_PORT=5433

DOCKER_PORT=8002
APP_PORT=8002

MEDIA_ROOT=/home/adm-docker/Horilla2/media/
