DEBUG=False
SECRET_KEY=-g^u3o@l2@x+c!*y1!6r5f2i2%dhwn$2qw4+83f&r(nf!r(iq)
ALLOWED_HOSTS=www.example.com,example.com,10.0.0.13,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://10.0.0.13:8001,https://10.0.0.13:8001,http://localhost:8001,http://127.0.0.1:8001
TIME_ZONE=Europe/Rome

DB_INIT_PASSWORD=d3f6a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d
DB_DUMP_PATH=/home/adm-docker/Horilla/horilla_main.dump
DB_ENGINE=django.db.backends.postgresql
DB_NAME=horilla_main
DB_USER=horilla
DB_PASSWORD=Horill@15048!
DB_HOST=localhost
DB_PORT=5432

DOCKER_PORT=8001
APP_PORT=8001

MEDIA_ROOT=/home/adm-docker/Horilla/media/
