{% load i18n %}
<div class="oh-modal__dialog-header pb-0">
    <button class="oh-modal__close" aria-label="{% trans 'Close' %}">
        <ion-icon name="close-outline" role="img" class="md hydrated" aria-label="{% trans 'close outline' %}"></ion-icon>
    </button>
</div>
<div class="oh-modal__dialog-body">
    <form
        id="add-form"
        hx-post="{% url 'document-create' emp_id %}"
        hx-target="#objectCreateModalTarget"
        hx-encoding="multipart/form-data"
    >
        {{ form.errors }} {{ form.as_p }}
    </form>
</div>
<script>
    $(document).ready(function () {
        function refreshSubcategories() {
            var category = $("#id_category").val();
            var subcategory = $("#id_subcategory");
            if (!subcategory.length) return;
            subcategory.empty().append(new Option("---------", ""));
            if (!category) return;
            $.get("{% url 'get-document-subcategories' %}", {category_id: category}, function (data) {
                data.subcategories.forEach(function (item) { subcategory.append(new Option(item.name, item.id)); });
            });
        }
        $("#id_category").on("change", refreshSubcategories);
        var date = $("#id_expiry_date").val();
        var notifyLabel = $("[for='id_notify_before']");
        var notifyInput = $("#id_notify_before");
        if (!date) {
            notifyLabel.addClass("d-none");
            notifyInput.addClass("d-none");
        }
        $("#id_expiry_date").on("change", function () {
            date = $("#id_expiry_date").val();
            if (!date) {
                notifyLabel.addClass("d-none");
                notifyInput.addClass("d-none");
            } else {
                notifyLabel.removeClass("d-none");
                notifyInput.removeClass("d-none");
            }
        });
    });
</script>
