{% load i18n %}
<div class="oh-general__tab-target oh-profile-section mb-4 d-none" id="work" data-select2-id="select2-data-work">
    <div class="oh-profile-section__card" data-select2-id="select2-data-29-vht3">
        <form action="" method="post">
            {% csrf_token %}
        <div class="row">
            <div class="col-12 col-lg-6"><div class="oh-input-group"><label class="oh-label">{{ work_form.work_area_type.label }}</label>{{ work_form.work_area_type }}</div></div>
            <div class="col-12 col-lg-6 work-area-sede-field"><div class="oh-input-group"><label class="oh-label">{{ work_form.department_code.label }}</label>{{ work_form.department_code }}</div></div>
            <div class="col-12 col-lg-6 work-area-store-field"><div class="oh-input-group"><label class="oh-label">{{ work_form.store_code.label }}</label>{{ work_form.store_code }}</div></div>
            <div class="col-12 col-lg-6 work-area-store-field"><div class="oh-input-group"><label class="oh-label">{{ work_form.store_name.label }}</label>{{ work_form.store_name }}</div></div>
        </div>
        <div class="row" data-select2-id="select2-data-27-19z8">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" data-select2-id="select2-data-26-o2rs">
            <div class="oh-input-group" data-select2-id="select2-data-25-5380">
                <label class="oh-label">{% trans "Job Title" %}</label>
                {{work_form.job_position_id}}
            </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="oh-input-group">
                <label class="oh-label">{% trans "Department" %}</label>
                {{work_form.department_id}}
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="oh-input-group">
                <label class="oh-label">{% trans "Shift Information" %}</label>
                {{work_form.shift_id}}
            </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="oh-input-group">
                <label class="oh-label">{% trans "Work Type" %}</label>
                {{work_form.work_type_id}}
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4"><div class="oh-input-group"><label class="oh-label">{{ work_form.export_payslip.label }}</label>{{ work_form.export_payslip }}</div></div>
            <div class="col-12 col-lg-4"><div class="oh-input-group"><label class="oh-label">{{ work_form.mirror_payslip.label }}</label>{{ work_form.mirror_payslip }}</div></div>
            <div class="col-12 col-lg-4"><div class="oh-input-group"><label class="oh-label">{{ work_form.premi.label }}</label>{{ work_form.premi }}</div></div>
        </div>
        <div class="w-100 d-flex justify-content-end mt-4"><button type="submit" class="oh-btn oh-btn--secondary">{% trans "Save" %}</button></div>
        <div class="row" data-select2-id="select2-data-27-95a0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" data-select2-id="select2-data-26-u84a">
            <div class="oh-input-group" data-select2-id="select2-data-25-5l0x">
                <label class="oh-label">{% trans "Employee Type" %}</label>
                {{work_form.employee_type_id}}
            </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="oh-input-group">
                <label class="oh-label">{% trans "Job Role" %}</label>
                {{work_form.job_role_id}}
            </div>
            </div>
        </div>
        <div class="row" data-select2-id="select2-data-39-3q9c">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" data-select2-id="select2-data-38-ofph">
            <div class="oh-input-group" data-select2-id="select2-data-37-p4f9">
                <label class="oh-label">{% trans "Reporting Manager" %}</label>
                {{work_form.reporting_manager_id}}
            </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="oh-input-group">
                <label class="oh-label">{% trans "Company" %}</label>
                {{work_form.company_id}}
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="oh-input-group">
                <label class="oh-label">{% trans "Work Location" %}</label>
                {{work_form.location}}
            </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="oh-input-group">
                <label class="oh-label" for="workEmail">{% trans "Work Email" %}</label>
                {{work_form.email}}
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="oh-input-group">
                <label class="oh-label" for="startDate">{% trans "Joining Date" %}</label>
                {{work_form.date_joining}}
            </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="oh-input-group">
                <label class="oh-label" for="endDate">{% trans "Contract End Date" %}</label>
                {{work_form.contract_end_date}}
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="oh-input-group">
                <label class="oh-label">{% trans "Basic Salary" %}</label>
                {{work_form.basic_salary}}
            </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="oh-input-group">
                <label class="oh-label" for="workEmail">{% trans "Salary Per Hour" %}</label>
                {{work_form.salary_hour}}
            </div>
            </div>
        </div>


        </form>
    </div>
    </div>
<script>
function toggleWorkAreaFieldsGlobal() {
  var field = document.getElementById('id_work_area_type');
  var value = field ? field.value : '';
  document.querySelectorAll('.work-area-sede-field').forEach(function (item) { item.style.display = value === 'SEDE' ? '' : 'none'; });
  document.querySelectorAll('.work-area-store-field').forEach(function (item) { item.style.display = value === 'NEGOZI' ? '' : 'none'; });
}
document.addEventListener('DOMContentLoaded', toggleWorkAreaFieldsGlobal);
</script>
